body{ 
  margin:0px; 
  padding:0px; 
}
#btns input{
  -webkit-appearance: none
  border:solid 1px black;
  border-radius:1px;
}
#btn1{
  font-size:50px;
  position:absolute;
  left:67.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn2{
  font-size:50px;
  position:absolute;
  left:284.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn3{
  font-size:50px;
  position:absolute;
  left:501.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn4{
  font-size:50px;
  position:absolute;
  left:718.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#mainButton{
  position:absolute;
}
