html{
  touch-action: manipulation;
}
body{ 
  margin:0px; 
  padding:0px; 
}
#btns input{
  padding:0px;
  -webkit-appearance: none;
  border:solid 10px white;
  border-radius:30px;
  color:#ffd44f;
  font-size:90px;
  font-weight:600;
  text-align:center;
  background-color:#131328;
}
#btn1{
  font-size:50px;
  position:absolute;
  left:67.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn2{
  font-size:50px;
  position:absolute;
  left:284.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn3{
  font-size:50px;
  position:absolute;
  left:501.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#btn4{
  font-size:50px;
  position:absolute;
  left:718.5px;
  top:1248px;
  width:184px;
  height:184px;
}
#mute{
  -webkit-appearance: none;
  border:solid 1px black;
  border-radius:0px;
  color:#131328;
  font-size:40px;
  position:absolute;
  left:782.5px;
  top:40px;
  text-align:center;
  padding:0px;
  width:120px;
}
